@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

*{
  font-family: 'Tektur', cursive!important;
  margin: 0 ;
  scroll-behavior: smooth!important;
  padding: 0 ;
}


.hover , .hover1 , .hoverdrk{
  transition: all 0.5s ease-out;
  
}

.hover:hover{
  box-shadow: inset 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff73 !important;
  /* border-radius: 12px; */
  transform: scaleZ(2);
}
.hoverdrk:hover{
 box-shadow: inset -2px -2px 2px rgba(83, 86, 102, 0.14), inset 2px 2px 5px rgba(0, 0, 0, 0.38) !important;
}
.hover1:hover{
  box-shadow: inset 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff73 !important;
 padding: 0.2em 0.2em;
 border-radius: 50%;
}
@media(max-width:665px){
  .pad{
    width: 450px!important;
    height: 450px!important;
  }
  .pen{
    width: 150px!important;
    height: 150px!important;
  }
}
@media(max-width:500px){
  .pad{
    width: 300px!important;
    height: auto !important;
  }
  .pen{
    width: 120px!important;
    height: 120px!important;
  }
  .error{
    width: 450px!important;
    height: 450px!important;
  }
}
@media(max-width:900px){
.imgie1{
  width: 5em !important; ;
  height: 5em !important;
}
.imgie2{
  width: 5em !important; ;
  height: 5em !important;
}
.imgie3{
  width: 5em !important; 
  height: 5em !important;
  left: 12% !important;
}
.imgie4{
  width: 5em !important; 
  height: 5em !important;
  right: -10% !important;
}
.ipad{
  width: 300px!important;
  height: 300px!important;
}
}
@media(max-width:600px){
  .imgie1{
    width: 2.5em!important; ;
    height: 2.5em!important;
  }
  .logo{
    display: block!important;
  }
  .imgie2{
    width: 2.5em!important; 
    height: 2.5em!important;
    right: -5% !important;
  }
  .imgie3{
    width: 2.5em !important; 
    height: 2.5em !important;
    left: 12% !important;
    bottom: -2% !important;
  }
  .imgie4{
    width: 2.5em !important; 
    height: 2.5em !important;
    right: -4% !important;
    bottom: -2% !important;
  }
  .ipad{
    width: 200px!important;
    height: 200px!important;
  }
  .fea{
    width: 300px !important;
    height: 300px!important;
  }
  .faq{
    width: 300px !important;
    height: 300px!important;
  }
  }
  
  .scroll ,.scrolllight {

    scrollbar-width: thin;
    /* scrollbar-color: #313437 #24262B; */
  }
  
  .scroll::-webkit-scrollbar {
    background: linear-gradient(85deg, #24262B 1%, #2A2C2E 98%) !important;
    box-shadow: inset -2px -4px 8px rgba(73, 73, 73, 0.4), inset 0px 4px 7px #151616 13px !important;
    height: 13px !important;
    border-radius: 12px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    height: 5px;
    background: #27292b;
    box-shadow: -1px 2px 2px rgba(15, 18, 22, 0.6), inset 0px -2px 1px #0E1216;
    /* margin: 2px 0 1px 2px; */
    width: 2px!important;
    border-radius: 10px;
  }
  
  .scrolllight::-webkit-scrollbar-thumb {
    height: 5px;
    background: #dde1e7 !important;
    box-shadow:  -3px -3px 2px #ffffff73,2px 2px 2px rgba(94, 104, 121, 0.288) !important;
    /* margin: 2px 0 1px 2px; */
    width: 2px!important;
    border-radius: 10px;
  }
  .scrolllight::-webkit-scrollbar {
    background: #dde1e7!important;
    box-shadow:inset 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff73 !important;
    height: 13px !important;
    border-radius: 12px;
  }


  .anime{
    transition: all 0.5s ease-out;
  }

  .anime:hover{
    transform: translateY(-20px);
   border-bottom-color: #78c5d6;
   border-bottom-style: solid;
   border-bottom-width: 5px;
  }
  .social{
    transition: all 0.5s ease-out;
  }

  .social:hover{
    box-shadow: inset 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff73;
  }
  input  ,textarea{
    all:unset;
    padding: 0.2em 0.5em;
  }
  input::placeholder , textarea::placeholder{
    font-size: 14px;
    padding: 0 0.5em;
  }

